.share{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 44px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 1px 44px -5px rgba(0,0,0,0.53);
    box-shadow: 0px 1px 44px -5px rgba(0,0,0,0.53);
}
.shareWrapper{
    padding: 15px;
 }
 .shareTop{
    display: flex;
    align-items: center;

}
 .shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
 }
 .shareInput{
    width: 80%;
    height: 20px;
    outline: none;
    border: none;
    padding-left: 15px;
 }
 .shareHr{
    margin: 20px;
 }
 
 .shareBottom{
    display: flex;
    align-items: center;
    justify-content:space-between;
 }
 .shareOptions{
    display: flex;
    margin-left: 10px;
    
   
 }
 .shareOption{
    display: flex;
    align-items: center;
    
   margin-right: 15px;
    cursor: pointer;
 }
 .shareIcon{
    
    margin-right: px;
 }
 .shareOptionText{
    font-family: roboto;
    font-size: 15px;  
    font-weight: 500; 

 }  
 .shareBtn{
    border: none;
    padding: 7px;
    background-repeat: 5px;
    background-color: green;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
    color: white;
 }